.wrapper {
    width: 525px;
    height: 220px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.buttons {
    width: 100%;
    height: 40px;
    border: 2px solid #6c6c6c;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.color {
    padding: 8px 15px;
    height: 32px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    color: #474747;
}
.color:last-child {
    margin-right: 0;
}
.color.focus {
    background: #4072fe;
    color: white;
    border: none;
}
.text {
    padding: 0 5px;
    z-index: 1;
    background: #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
}
.content {
    display: flex;
    border: none;
}
#area {
    width: 225px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    color: f6f6f6;
}
.line {
    width: 300px;
    margin-bottom: 10px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}

#red .ui-slider-range {
    background: #ef2929;
}
#red .ui-slider-handle {
    border-color: #ef2929;
}
#green .ui-slider-range {
    background: #8ae234;
}
#green .ui-slider-handle {
    border-color: #8ae234;
}
#blue .ui-slider-range {
    background: #729fcf;
}
#blue .ui-slider-handle {
    border-color: #729fcf;
}
